IntuitChallengeUI/wwwroot/
.vs/
IntuitChallenge/bin/
IntuitChallenge/obj/
IntuitChallengeUI/obj/
Model/bin/
Model/obj/
IntuitChallengeUI/bin/
RecursivaAPI/bin/
RecursivaAPI/obj/
RecursivaChallenge/obj/
RecursivaUI/bin/
RecursivaUI/obj/
